@import '~antd/dist/antd.css';
@import './styles/variables.scss';
@import './pages/Login/style.scss';
@import './pages/Clientes/components/FormFiltros/style.scss';

body {
  background-color: $lightGray;
  .layout {
    min-height: 100vh;
  }
  .header {
    background-color: $white;
    box-shadow: $shadow;
    padding: 5px 50px;
  }
  .menuPrincipal {
    padding: 0 50px 0 30px;
  }
  .pageHeader {
    padding: 0;
  }
  .whiteBox {
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 10px;
  }
  .container {
    width: calc(100% - 100px);
    height: auto;
    margin: 50px auto;
    padding: 30px 50px;
  }
  .ant-picker {
    width: 100%;
  }
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: $primary;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid $primary;
}
